@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.homeImage {
  background-image: url("/Users/nickdavidovich/challenges/mass-zone-reports/client/media/midwestWhitetail.jpg") ;
  background-color: #cccccc;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.signInImage {
  background-image: url("/Users/nickdavidovich/challenges/mass-zone-reports/client/media/hunter.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.maZonesImage {
  background-image: url("/Users/nickdavidovich/challenges/mass-zone-reports/client/media/MAZONES.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  //height: 700px;
  background-position: center;
  object-fit: cover;
}

.registerImage {
  background-image: url("/Users/nickdavidovich/challenges/mass-zone-reports/client/media/silhouette-man-fishing-beach-sunset.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  background-size: cover;
}



.home-text {
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding: 4em;
  margin-top: 2%;
  border-radius: 20px;
}

.component-container {
  margin: auto;
  padding: 2em;
  width: 50%;
  
}

.index-container {
  margin: auto;
  padding: 2em;
  width: 50%;
}

.tile-box {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.report-box {
  border-bottom: 1px solid black;
  width: 50%;
  margin: auto;
}

.date {
  font-weight: bold
}


.hzone-title {
  margin: auto;
  text-align: center;
  width: 50%;

}

.info-box {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 25%;
  height: 100px;
  padding: 15px;
  box-shadow: 1px 1px ;
  background-color: white;
}



.translucent-form-overlay {
  max-width: $translucent-form-overlay-max-width;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: $white;

  .columns.row {
    display: block;
  }

  h3, label {
    color: $white;
  }
  input, select {
    color: $dark-gray;
  }
  input::placeholder {
    color: $dark-gray;
  }
}

.log-in-form {
  border: 1px solid $medium-gray;
  padding: $form-spacing;
  border-radius: $global-radius;
}
.chart-container {
  margin: left;
  width: 50%;
}
.chart {
 margin: left;
 width:50%
}